[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
*.VisualState.xml
TestResult.xml
testresult.xml
test-results
*.pidb
*.userprefs
packages/
*.nupkg
.vs

/tools/
/artifacts/
